* {
    font-family: $font-standard;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
}

html {
    font-size: 100%;
}

p {
    font-size: 1em;
}

@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
