$font-color: #FCF8E4;
$font-alternative-color: #fff;
$accent-color: #FFC032;
$accent-color2: #FFF333;
$background-color: #4F492C;
$background-alternative-color: #FFE98C;
$header-footer-color: #89691E;
$separator-color: #89841B;
$img-brightness: 0.8;
$img-contrast: 1.2;

$font-standard: 'Handlee', cursive;
$font-headings: 'Handlee', cursive;
$font-seriff-style: sans-serif;

$base-line-height: 1.4;
$base-font-size: 1.25rem;
$vertical-rhythm: $base-line-height * $base-font-size;